<launch>
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- Below, write the path to the world file of f450 -->
        <arg name="world_name" value="~/Firmware/Tools/sitl_gazebo/worlds/f450.world"/>
        <!-- more default parameters can be changed here -->
    </include>

</launch>
